/*  your css code here. If applicable */

.head{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
}
.row{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
	background-color:#ffffff;
}
.change{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5rem;
	background-color:#f2f2f2;
}